@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

.containerLeft {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 6vw;
  width: 50%;
}
.containerLeft > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .containerLeft > h1 {
    font-size: 1rem;
  }
}

.containerLeft > p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .containerLeft > p {
    font-size: 1rem;
  }
  .containerLeft > h1 {
    font-size: 1.8rem;
  }
}
.containerLeft > Button {
  margin-top: 1rem;
}
.indirizzo {
  margin-top: 1rem;
  display: flex;
}

.indirizzo > .indirizzoInput {
  margin: 4rem;
}
