@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

.containerLeft {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;

  width: 50%;
}
.containerLeft > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3vw;
}

.containerLeft > p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2vw;
}
.containerLeft > Button {
  margin-top: 1rem;
}
.indirizzo {
  margin-top: 1rem;
  display: flex;
}

.indirizzo > .indirizzoInput {
  margin: 4rem;
}
