@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

.navbar {
  height: 8vh;
  width: 100%;
  background: #ffc244;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.centerBar {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .centerBar {
    width: 35vw;
    font-size: 22rem;
  }
  .centerBar > .item {
    font-size: 1.3vw;
  }
}
.navbar > h1 {
}
.navbar > .logo {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > .logo > h1 {
  color: white;
  font-size: 6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 3vw;
}
.navbar > .logo > .menuButton {
  cursor: pointer;
}
img {
  width: 12vw;
  max-width: 12rem;
}
